.container {
    max-width: 500px;
    margin: 2rem auto;
    background-color: #242424;
}
.header{
    margin-bottom: 10px;
    color: #326bc7
}

.chatBox{
    min-height: 150px;
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    background-color: #5e5e5e;
}

.message {
    margin: 8px 0;
    text-align: left;
}

.messageUser {
    text-align: right;
}

.bubble {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 16px;
    max-width: 80%;
    word-break: break-all;
    background-color: #ccc;
    color: #222;
}

.bubbleUser{
    background-color: #326bc7;
    color: #fff;
}

.loading{
    color: #3256;
}

.form{
    display: flex;
    gap: 8px;
}